.bg-image{
    display: flex;
    justify-content: center;
    width: 18rem;
    padding-top: 10rem;
    margin-right: ;

}


h1{
    display: flex;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    
    

}